@font-face {
    font-family: 'Rachelya';
    src: url('Rachelya-Regular.woff2') format('woff2'),
        url('Rachelya-Regular.woff') format('woff'),
        url('Rachelya-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

